<h1>Welcome to {{hotelName}}</h1>
<div [hidden]="hideRooms">
    number of rooms:
    <div [ngStyle]="{'color': rooms.availableRooms ? 'steelblue' : 'red'}"
    [innerText]="numberOfRooms">
    </div>
</div>

{{ rooms.availableRooms ? rooms.availableRooms : "No rooms" }}

<!-- {{ roomList | json}} -->

<!-- diretivas: 
basicamente formas de construir operações lógicas e laços de
linguagens de programação incorporadas em html por angular-->
<div *ngIf="rooms.availableRooms > 0"> 
    <hinv-rooms-list [rooms]="roomList"></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>